<main class='container'>
  <hgroup>
    <h2>For Modders</h2>
    <p>Utilities for modders to generate CivMods buttons.</p>
  </hgroup>
</main>

<section class='container mod'>
  <article>
    <header>
      <h3>Generate CivMods Button</h3>
    </header>
    <p class='download-help-first'>
      Insert your CivFanatics mod page URL below to generate a "Install with CivMods" button.
    </p>
    <div role='group'>
      <input type='text' id='mod-url' placeholder='https://forums.civfanatics.com/resources/your-mod.12345/' />
      <button id='generate-button' role='button'>Generate</button>
    </div>

    <div class="hidden" id="generate-result">
      <h6>Button preview</h6>
      <div id="button-container"></div>

      <h6>Direct link</h6>
      <div class="code">
        <button class="copy-button">Copy</button>
        <code id="direct-link"></code>
      </div>

      <h6>BB Code</h6>
      <div class="code">
        <button class="copy-button">Copy</button>
        <code id="button-code"></code>
      </div>
      <p>
        Copy the BB code above and paste it into your CivFanatics mod page.
      </p>
    </div>

    <script>
      document.getElementById('generate-button').addEventListener('click', function () {
        const modUrl = document.getElementById('mod-url').value;
        const modId = modUrl.match(/(\d+)\//)[1];
        const origin = window.location.origin;
        const deepLink = origin + `/install?modCfId=${modId}`;

        // Show the result container
        document.getElementById('generate-result').classList.remove('hidden');

        // Generate a button with an image
        const buttonContainer = document.getElementById('button-container');
        buttonContainer.innerHTML = `
          <a href='${deepLink}'>
            <img src='${origin}/static/install-button@2x.png' alt='Install with CivMods' width='142' />
          </a>
        `;

        pre = document.getElementById('button-code');
        pre.innerText = `[URL='${deepLink}'][IMG width="142px"]${origin}/static/install-button@2x.png[/IMG][/URL]`;

        directLink = document.getElementById('direct-link');
        directLink.innerText = deepLink;
      });

      document.querySelectorAll('.copy-button').forEach(function (button) {
        button.addEventListener('click', function () {
          const code = button.nextElementSibling;
          navigator.clipboard.writeText(code.innerText);
        });
      });
    </script>
  </article>
</section>