:root {
  --civ-gradient: linear-gradient(90deg, #bfbeda, #dbc795);
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 21rem;
  text-align: center;
}

.hero .hook {
  max-width: 700px;
}

.hook p {
  text-wrap: balance;
}

.hero h1,
header h1 {
  font-size: 3.5rem;
  margin-bottom: 0.2rem;
  background: var(--civ-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

header h1 {
  font-size: 1.5rem;
  margin-bottom: 0.2rem;
}

.hero p:not(:last-child) {
  font-size: 2rem;
  /* margin-bottom: 1rem; */
  color: var(--pico-muted-color);
  margin-bottom: 2.5rem;
}

.downloads > div a {
  width: 100%;
  /* background-color: #391c6c; */
  /* background: linear-gradient(0deg, #1e4792, #2d8bce); */
  /* border: none; */
  /* font-weight: 500; */
}

.screen {
  margin-top: 4rem;
  background-image: url('/static/screen-background.png');
  background-size: contain;
  background-position: top center;
  height: 80vh;
  /* // Colorful gradient as shadow */
  box-shadow: 0 0 10px 10px var(--civ-gradient);
}

footer p {
  text-align: center;
  font-size: 0.8rem;
  color: var(--pico-muted-color);
}

main.mod {
  padding: 4rem 0;
}

.hidden {
  display: none;
}

article > header.mod-header {
  background-color: #292c4c;
}
